# --- PLANTILLA DE CONFIGURACIÓN ---
# Copia este archivo a un archivo llamado '.env' y completa con tus datos.

DB_NAME=lp3_db
DB_USER=proyecto_user
DB_PASSWORD=TU_CONTRASEÑA_AQUI
DB_ROOT_PASSWORD=TU_ROOT_PASSWORD_AQUI